<h1>Your Pages</h1>

<table class="table table-bordered table-condensed table-striped table-white" id='pages'>
  <thead>
    <tr>
      <th>Created</th>
      <th>Title</th>
      <th>Excerpt</th>
      <th>Permalink</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @pages.empty? -%>
      <tr><td colspan="5">There are no pages at this time.</td></tr>
    <% else -%>
      <%= render :partial => 'page', :collection => @pages %>
    <% end -%>
  </tbody>
</table>

<% if @pages.total_pages > 1 -%>
	<%= will_paginate @pages, :renderer => BootstrapPaginationHelper::LinkRenderer %>
<% end -%>

<p><%= link_to 'New Page', new_admin_page_path, class: 'btn btn-small' %></p>
