<h1>Comments</h1>

<table class="table table-bordered table-condensed table-striped table-white" id='comments'>
  <thead>
    <tr>
      <th>Created</th>
      <th>Commenter</th>
      <th>Excerpt</th>
      <th>Post</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @comments.empty? -%>
      <tr><td colspan="5">There are no comments at this time.</td></tr>
    <% else -%>
      <%= render :partial => 'comment', :collection => @comments %>
    <% end -%>
  </tbody>
</table>

<% if @comments.total_pages > 1 -%>
	<%= will_paginate @comments, :renderer => BootstrapPaginationHelper::LinkRenderer %>
<% end -%>
