  <p><small><cite><strong><%= author_link(comment) %></cite></strong> said on <a href="#comment-<%= comment.id %>" title=""><%= format_comment_date(comment.created_at) %></a>:</small></p>
  <%== comment.body_html %>
