<h1>Your Posts</h1>

<table class="table table-bordered table-condensed table-striped table-white" id='posts'>
  <thead>
    <tr>
      <th>Published</th>
      <th>Title</th>
      <th>Excerpt</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @posts.empty? -%>
      <tr><td colspan="5">There are no posts at this time.</td></tr>
    <% else -%>
      <%= render :partial => 'post', :collection => @posts %>
    <% end -%>
  </tbody>
</table>

<% if @posts.total_pages > 1 -%>
	<%= will_paginate @posts, :renderer => BootstrapPaginationHelper::LinkRenderer %>
<% end -%>

<p><%= link_to 'New Post', new_admin_post_path, class: 'btn btn-small' %></p>
