<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span12">
			<h1>Global Supply</h1>
			<div class="content-wrap">
				<div class="content-padding">
					<script>
				    var map;
				    function initialize() {
							var locations = [
								['<p class="global-supply"><img class="global-supply-img" src="/assets/esc.jpg" alt="ESC"/><strong>Engineered Sintered Components (ESC)</strong><br />North Carolina, USA</p>', 35.710664, -80.888944, 1 ],
							  ['<p class="global-supply"><img class="global-supply-img" src="/assets/SESG.jpg" alt="SESG"/><strong>Sumitomo Electric Sintered Components (G) GmbH (SESG)</strong><br />Zittau, Germany</p>', 50.899968, 14.802997, 2],
								['<p class="global-supply"><img class="global-supply-img" src="/assets/KSM.jpg" alt="KSM"/><strong>Korea Sintered Metal (KSM)</strong><br />Daegu, Korea<br /><a href="http://www.iksm.co.kr">http://www.iksm.co.kr</a></p>', 35.734228, 128.472266, 3],
								['<p class="global-supply"><img class="global-supply-img" src="/assets/SEST.jpg" alt="SEST"/><strong>Sumitomo Electric Sintered Components (T) Co. Ltd (SEST)</strong><br />Bang Pakong, Thailand</p>', 13.542778, 100.993889, 4],
								['<p class="global-supply"><img class="global-supply-img" src="/assets/SESC.jpg" alt="SESC"/><strong>Sumitomo Electric Sintered Components (M) Sdn Bhd (SESC)</strong><br />Shah Alam, Malaysia<br /><a href="http://www.sesc.com">http://www.sesc.com</a></p>', 3.00375, 101.558, 5],
								['<p class="global-supply"><img class="global-supply-img" src="/assets/PSP.jpg" alt="PSP"/><img class="global-supply-img" src="/assets/SPW.jpg" alt="SPW"/><strong>Precision Sintered Products Co. Ltd (PSP) <em>Left</em></strong><br />Wuxi City, P.R. China<br /><strong>Sumiden Powder Metallurgy Wuxi Co. Ltd (SPW) <em>Right</em></strong><br />Wuxi City, P.R. China</p>', 31.53804, 120.384505, 6],
								['<p class="global-supply"><img class="global-supply-img" src="" /><strong>Sumitomo Electric Sintered Alloy, Ltd</strong><br />Okayama, Japan</p>', 34.784862, 133.528433, 7]
							];
							var myLatlng = new google.maps.LatLng(30.570692, 10.996166);
				      var mapOptions = {
				        zoom: 2,
				        center: myLatlng,
				        mapTypeId: google.maps.MapTypeId.ROADMAP
				      };
				      map = new google.maps.Map(document.getElementById('map_canvas'),
				          mapOptions);

			        var infowindow = new google.maps.InfoWindow();
							var marker, i;
							for (i = 0; i < locations.length; i++) {  
							  marker = new google.maps.Marker({
							    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
							    map: map,
									title: locations[i][0]
							  });
							  google.maps.event.addListener(marker, 'click', (function(marker, i) {
							    return function() {
							      infowindow.setContent(locations[i][0]);
							      infowindow.open(map, marker);
										map.panTo(new google.maps.LatLng(locations[i][1], locations[i][2]));
							    }
							  })(marker, i));
							}
				    }
				    google.maps.event.addDomListener(window, 'load', initialize);
				  </script>
					<div id="map_canvas" style="height: 600px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

