<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Our Company</li>
		<li class="active"><%= link_to 'About Us', :controller => :site, :action => :about_us %></li>
		<li><a href="#">Mission Statement</a></li>
		<li><a href="#">Parent Profiles</a></li>
		<li><a href="#">Associations</a></li>
		<li><a href="#">Global Supply</a></li>
	</ul>			
</div>
