<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Our Company</li>
		<li class="active"><%= link_to 'About Us', :controller => :site, :action => :about_us %></li>
		<li><%= link_to "President's Message", :controller => :site, :action => :presidents_message %></li>
		<li><%= link_to 'Mission Statement', :controller => :site, :action => :mission_statement %></li>
		<li><a href="#">Global Supply</a></li>
	</ul>			
</div>
