<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'site/company_sidebar' %>
		</div>
		<div class="span9">
			<h1>About Us</h1>
			<p>Engineered Sintered Components was established in 1989, as a joint venture between <%= link_to 'Sumitomo Electric Sintered Alloys', 'http://global-sei.com' %> and <%= link_to 'Eaton Corporation', 'http://eaton.com' %>, to become one of the major suppliers of sintered metal components to the North American Automotive Industry.</p>
			<p>Located 25 minutes north of Charlotte, North Carolina, ESC is positioned conveniently to support your needs in North America.  If a more global supplier is what you are looking for, ESC can support your needs.  Along with our parent Sumitomo Electric Sintered Alloys, our group is comprised of 10 facilities in 7 countries, making us one of the few truly global PM Companies.</p>
			<p>Along with our ability to support your needs world-wide, ESC is unique in our industry as we can offer a "one-stop shop" location.  Whether your component requires specialized sintering or advanced secondary operations, ESC can support you with "in-house" capabilities.  Along with the standard P/M operations ESC offers, high temperature sintering, vacuum sintering, heat treatment, various machining, and surface finishing.</p>
			<p>We are committed to provide the highest value to our customers, through innovation, technology development as well as continuous improvements in quality and productivity.  We are confident you will find the management team and our employees have fully embraced the ideals of growth through customer satisfaction.</p>
			<p>We have also a commitment to a long term relationship with our customers, employees, suppliers, and community.</p>
			<hr />
			<h2>President's Message</h2>
			<div class="row">
				<div class="span2"></div>
				<div class="span7">
					<blockquote>
						<p>I am proud of the company we have built through the years. I constantly challenge every associate of ESC to find ways to make improvements and act on those ideas. From the management team to our newest associate, we all strive for continuous improvement. The success of ESC is the result of this commitment by every associate. I firmly believe that selecting and developing the right associate for the right job in an environment of total involvement is the key to ESC success.</p>
						<br />
						<p>I firmly believe that our success relies on our ability to maintain a high level of customer satisfaction. By developing strong long-term relationships with our customers, the overall ability of our organizations to compete is strengthened. That strength will lead to continued growth for both ESC and our customers.</p>
						<br />
						<p><em>-Ryuichiro Goto, President</em></p>
					</blockquote>
				</div>
			</div>
			<hr />
			<h2>Associations</h2>
		</div>
	</div>
</div>
