<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span12">
			<h1>Careers at ESC</h1>
			<div class="row">
				<div class="span6">
					<p><%= image_tag('/assets/staff.jpg', alt: 'ESC Staff', class: 'img-polaroid') %></p>
				</div>
				<div class="span6">
						<blockquote style="margin-top: 40px;">
							<p>"I am proud of the company we have built through the years. I constantly challenge every associate of ESC to find ways to make improvements and act on those ideas. From the management team to our newest associate, we all strive for continuous improvement. The success of ESC is the result of this commitment by every associate. I firmly believe that selecting and developing the right associate for the right job in an environment of total involvement is the key to ESC success."</p><br />
							<p><em>-Ryuichiro Goto, President</em></p>
						</blockquote>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="span12">
					<p>We believe the success of Engineered Sintered Components (ESC) depends ultimately on the performance of its employees. Hiring individuals with good work ethics, positive attitudes, and a philosophy of continuous self-improvement, will allow ESC to continue well into the future. ESC focuses on the positive behavior of employees, encourages employee involvement, encourages two way open communication, compensates competitively, provides training for organizational and individual success, maintains effective performance appraisal systems, and emphasizes promoting from within the Company. This will form the foundation for a work environment that is characterized by mutual trust, mutual respect, and the individual freedom necessary for exceptionally high employee performance. By following this business philosophy, profitability is achieved, allowing everyone to share in our success.</p>
					<p>We know you will find ESC progressively challenging and continuously seeking innovation allowing us to be the leading PM component supplier in North America.</p>
					<p>For job inquiries, please email us at <%= mail_to 'jobs@engsin.com', 'jobs@engsin.com' %>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
