<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span12">
			<h1>Careers at ESC</h1>
			<div class="row">
				<div class="span6">
					<p><%= image_tag('/assets/staff.jpg', alt: 'ESC Staff', class: 'img-polaroid') %></p>
				</div>
				<div class="span6">
						<blockquote style="margin-top: 40px;">
							<p>"I am proud of the company we have built through the years. I constantly challenge every associate of ESC to find ways to make improvements and act on those ideas. From the management team to our newest associate, we all strive for continuous improvement. The success of ESC is the result of this commitment by every associate. I firmly believe that selecting and developing the right associate for the right job in an environment of total involvement is the key to ESC success."</p><br />
							<p><em>-Ryuichiro Goto, President</em></p>
						</blockquote>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="span12">
					<p>We believe the success of ESC/ESCA depends ultimately on the performance of its employees. Hiring individuals with good work ethics, positive attitudes, and a philosophy of continuous self-improvement, will allow ESC/ESCA to continue to be successful well into the future.</p>
					<p>To complete an application online, please select one of the links next to the position you are interested in. You may also apply to more than one position if interested. We receive resumes via email: <%= mail_to 'HRdepartment@engsin.com', 'HRdepartment@engsin.com' %>. Additionally, applications and resumes are accepted at the Employment Security Commissions in Statesville and Mooresville.</p>
					<p>
						Day shift is from 7:00 a.m. to 7:30 p.m. (rotating days)<br />
						Night shift is from 7:00 p.m. to 7:30 a.m. (rotating days)
                    </p>
					<hr />
					<h2>Positions currently opened are:</h2>
					<ul class="open-positions"></ul>
					<h2>You may also submit an application for the following positions:</h2>
					<ul class="applicable-positions"></ul>
					<hr />
					<p>
						Information on the status of applications cannot be given, but the website is updated daily to keep the jobs that are opened updated. No phone calls, please.  Applications will be kept on file for one year. You may resubmit an application to keep the status of your application updated. Thank you for considering Engineered Sintered Components as a potential employer.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag '/assets/admin/careers.js' %>
