<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span12">
			<h1>Contact Us</h1>
			<div class="row">
				<div class="span4">
					<address>
						<strong>Engineered Sintered Components</strong><br />
						250 Old Murdock Road<br />
						Troutman, NC 28166<br />
						<abbr title="Phone">P:</abbr> (704) 508-7500<br />
						<abbr title="Fax">F:</abbr> (704) 508-7529<br />
					</address>
					<address>
						<strong>Human Resources Department</strong><br />
						Attn: Jan Comer<br />
						Email: <%= mail_to 'jobs@engsin.com', 'jobs@engsin.com' %>
					</address>
					<address>
						<strong>Sales Department</strong><br />
						Attn: Mr. Manager<br />
						Email: <%= mail_to 'sales@engsin.com', 'sales@engsin.com' %>
					</address>
				</div>
				<div class="span8">
					<div class="content-wrap">
						<div class="content-padding">
							<script>
						    var map;
						    function initialize() {
									var myLatlng = new google.maps.LatLng(35.710664,-80.888944);
						      var mapOptions = {
						        zoom: 8,
						        center: myLatlng,
						        mapTypeId: google.maps.MapTypeId.ROADMAP
						      };
						      map = new google.maps.Map(document.getElementById('map_canvas'),
						          mapOptions);

					        var marker = new google.maps.Marker({
					            position: myLatlng,
					            map: map,
					            title: 'Engineered Sintered Components'
					        });
					        google.maps.event.addListener(marker);
						    }
						    google.maps.event.addDomListener(window, 'load', initialize);
						  </script>
							<div id="map_canvas" style="height: 300px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
