<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span12">
			<h1>Environment &amp; Safety</h1>
			<p>Engineered Sintered Components (ESC) is committed to creating a safe work environment for our employees while supporting the effort to improve our overall impact to our environment. As a part of Sumitomo's Corporate Social Responsibility (CSR) culture, ESC has embraced the activities that will make us a better employer and member to the business society. When it comes to the environment, we all have to do our part to make a positive impact to the environment. ESC's fundamental belief in continuous improvement does not only apply to manufacturing policies. While at ESC you will see constant activity to improve our overall utilization of utilities, lowering our landfill output, and increasing our recycling. We also look to invest in new technologies that will improve our impact to the environment.

			As far as our safety policy, ESC supports the principles set forth by the Sumitomo group:



			    (1)Realizing accident-free worksites and creating comfortable working environments
			    (2)Maintaining and improving Compliance
			    (3)Promoting employees' physical and mental healthcare



			As a result of striving to create the safest work environment possible with a focus on continuous improvement, ESC has received awards for its safety record. 



			ESC was recognized by the State of North Carolina for reaching 1 Million hours worked without a lost time accident.   Furthermore, we have received consecutive years of the Golden Award, which is also given by the State of North Carolina for having lower than average incident rates for our industry classification.



			It is clear that ESC's commitment to Safety and the environment makes us a good partner for an individual or a business.</p>
		</div>
	</div>
</div>
