<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'site/company_sidebar' %>
		</div>
		<div class="span9">
			<h1>Global Supply</h1>
			<div class="content-wrap">
				<div class="content-padding">
					<img id="map_image" src="https://maps.googleapis.com/maps/api/staticmap?center=51+Wall+Street,NY&zoom=14&size=678x300&sensor=false"/>
				</div>
			</div>
		</div>
	</div>
</div>

