</div>
</div>
</div>
<div class="debut-dark">
	<div class="container">
		<div class="image-lead">
			<div class="container">
				<h1>Engineered Sintered Components</h1>
				<p class="lead" style="font-family:'RobotoRegular';">A leading supplier of high quality, advanced powder metal components</p>
			</div>
		</div>
	</div>
</div>
<div class="content-lead">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="content-wrap">
					<div class="content-header">
						<h2>Quality Commitment</h2>
					</div>
					<img src="http://placehold.it/298x100&text=QUALITY+COMMITMENT" alt="logo" />
					<div class="content-padding">
						<p>Engineered Sintered Components (ESC) is committed to our motto, which is "Safety First, Quality next". We firmly believe that by committing to exemplary quality, we offer our customers a value added experience.</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="content-wrap">
					<div class="content-header">
						<h2>Environment &amp; Safety</h2>
					</div>
					<img src="http://placehold.it/298x100&text=ENVIRONMENT+AND+SAFETY" alt="logo" />
					<div class="content-padding">
						<p>Engineered Sintered Components (ESC) is committed to creating a safe work environment for our employees while supporting the effort to improve our overall impact to our environment.</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="content-wrap">
					<div class="content-header">
						<h2>Careers</h2>
					</div>
					<img src="http://placehold.it/298x100&text=CAREERS+AND+JOBS" alt="logo" />
					<div class="content-padding">
						<p>At Engineered Sintered Components (ESC), we believe our unique ability to handle most customer process requirements at one location sets us apart from the competition.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div class="row">
<div class="span12">
