<div class="hero-unit">
	<h1 style="padding-bottom: 10px;">Website Template</h1>
	<p class="lead">This template is a barebones scaffold for anyone who wants a blank slate for a super clean website with a blog. It includes all of the features from the original <a href="http://www.enkiblog.com">Enki Blog</a> along with some new aesthetic and functional improvements made by <a href="http://will-goto.com">Will Goto</a>.</p>
</div>
<div class="">
	<p>This is a Rails website template completed by <a href="http://will-goto.com">Will Goto</a>. Forked from <a href="https://github.com/xaviershay/enki">xaviershay/enki</a> over at GitHub, this project includes several improved features from the original <a href="http://www.enkiblog.com">Enki Blog</a>.</p>
</div>
