<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'site/company_sidebar' %>
		</div>
		<div class="span9">
			<h1>Mission Statement</h1>
			<ul>
				<li>Provide the highest value to our customers.</li>
				<li>Emphasize total employee involvement.</li>
				<li>Promote individual growth as well as continual improvement in productivity and quality.</li>
				<li>Commitment to long-term relationships with our customers, our employees, our suppliers and our community.</li>
			</ul>
		</div>
	</div>
</div>
