<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'site/company_sidebar' %>
		</div>
		<div class="span9">
			<h1>Mission Statement</h1>
			<p></p>
		</div>
	</div>
</div>
