<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'site/company_sidebar' %>
		</div>
		<div class="span9">
			<h1>President's Message</h1>
			<div class="row">
				<div class="span2">
					<%= image_tag('/assets/ryugoto.jpg', alt: 'Ryu Goto', class: 'img-rounded') %>
				</div>
				<div class="span7">
					<blockquote>
						<p>"I am proud of the company we have built through the years. I constantly challenge every associate of ESC to find ways to make improvements and act on those ideas. From the management team to our newest associate, we all strive for continuous improvement. The success of ESC is the result of this commitment by every associate. I firmly believe that selecting and developing the right associate for the right job in an environment of total involvement is the key to ESC success.</p>
						<br />
						<p>I firmly believe that our success relies on our ability to maintain a high level of customer satisfaction. By developing strong long-term relationships with our customers, the overall ability of our organizations to compete is strengthened. That strength will lead to continued growth for both ESC and our customers."</p>
						<br />
						<p><em>-Ryuichiro Goto, President</em></p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>
