<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span12">
			<h1>ESC's Commitment to Quality</h1>
			<div class="row">
				<div class="span4">
					<img src="http://placehold.it/288x160&text=QUALITY+COMMITMENT" alt="logo" class="img-polaroid" />
				</div>
				<div class="span8">
					<p>Engineered Sintered Components (ESC) is committed to our motto, which is "Safety First, Quality next". We firmly believe that by committing to exemplary quality, we offer our customers a value added experience.</p>
					<p>As a TS 16949 certified organization, we use the established guidelines to develop the framework for our quality system. By using a strong quality system that is fundamentally structured on continuous improvement, the quality product our customers receive allows them to focus on satisfying their customers.</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="span8">
					<p>We embrace statistical process control along with stringent quality control standards. Along with our standards, we continue to implement advanced inspection technology and electronic SPC data gathering.</p>
					<p>Though the standards are in place, the important commitment comes from the people that use those standards. You will find that the employees at ESC, from management to the newest associate in production, takes pride in not only meeting our customer's quality expectation, but exceeding them.</p>
				</div>
				<div class="span4">
					<img src="http://placehold.it/288x160&text=QUALITY+COMMITMENT" alt="logo" class="img-polaroid" />
				</div>
			</div>
		</div>
	</div>
</div>
