<div class="entry-body">
  <%== post.body_html %>
</div>
<div class="meta">
	
  <p class="muted"><small><span class="pull-right"><%= link_to pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments') %></span>Posted on <%= format_post_date(post.published_at) %>.
		<% unless post.tags.empty? -%>
     Tagged as <%= linked_tag_list(post.tags) %>.
    <% end -%></small></p>
</div>
