/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 */

@font-face {
    font-family: 'RobotoLight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
  height: 100%;
}
body {
	background: url('/assets/cream-dust.png') #fcfcfc;
}
h1, h2, h3 {
	font-family: 'RobotoLight';
	font-weight: normal;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -210px;
}
#push {
  height: 280px;
}
.header-links {
	color: #888888;
	margin-top: 40px;
}
.header-links li {
	display: inline;
	padding-left: 10px;
}
.header-links a {
	color: #6195cf;
	text-transform: uppercase;
}
.footer {
	background: url('/assets/debut-dark.png');
	color: #cccccc;
	padding: 10px 0 40px;
	height: 160px;
  clear: both;
	font-size: 12px;
}
.logo {
	background: rgb(245, 245, 245);
	margin-left: -999px;
	padding-left: 999px;
}
.logo-edge {
		width: 0; 
		height: 0; 
		border-top: 100px solid transparent;
		border-left: 100px solid rgb(245, 245, 245);
		position: absolute;
		margin-left: 300px;
}
.navbar {
	margin-bottom: 0;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	position: relative;
}
.navbar-inner {
	padding: 0;
}
.navbar-inner > .container {
	width: 940px;
}
.cream-dust {
	background: url('/assets/cream-dust.png') #fcfcfc;
}
.debut-dark {
	background: url('/assets/debut-dark.png') #222222;
}
.debut-dark > .container {
	width: 1000px;
}
.image-lead {
	background: url('/assets/esc-plant.jpg') no-repeat center center;
	height: 350px;
}
.image-lead > .container {
	color: #fcfcfc;
	padding-top: 30px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.content-lead {
	margin-top: -20px;
	position: relative;
}
.content-wrap {
	background: #ffffff;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.content-header {
	background: #eeeeee;
	margin: -1px -1px 5px;
	color: #666666;
	-webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}
.content-header > h2 {
	font-size: 20px;
	line-height: 24px;
	margin: 0px;
	padding: 10px;
}
.content-padding {
	padding: 10px;
}
.content-main {
	margin-top: 20px;
}
