<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Products</li>
		<li class="<%= "active" if @page_title == 'Gerotors' %>"><%= link_to 'Gerotors', :controller => :products, :action => :gerotors %></li>
		<li class="<%= "active" if @page_title == 'VVT Components' %>"><%= link_to 'VVT Components', :controller => :products, :action => :vvt_components %></li>
	</ul>			
</div>
