<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Products</li>
		<li><%= link_to 'Gerotors', :controller => :products, :action => :gerotors %></li>
	</ul>			
</div>
