<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'products/products_sidebar' %>
		</div>
		<div class="span9">
			<h1>Gerotors</h1>
			<p>ESC has the ability to supply our customers with oil pump rotors using patented profiles owned by our parent company. Whether you are looking for a Gerotor that puts out a certain flow or you are looking for a fuel efficient system, ESC can help you. Along with the technical "know-how" on the application side, ESC can supply any size or shape with our flexible manufacturing concept. ESC applications include Hydraulic pumps, Engine oil pumps, and Transmision oil pumps.</p>
			<hr />
			<p><%= image_tag('/assets/gerotors2.jpg', alt: 'gerotors', class: 'img-polaroid') %> <%= image_tag('/assets/gerotors.jpg', alt: 'gerotors', class: 'img-polaroid') %></p>
		</div>
	</div>
</div>
