<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'products/products_sidebar' %>
		</div>
		<div class="span9">
			<h1>Sensor Rings</h1>
			<p>ESC makes various shapes and sizes of sensor rings today. Along with the geometry difference we support, ESC can offer various material selections to meet any application your component requires. Whether your parts is a plain iron components or requires the highest corrosion resistant stainless steel, ESC can offer you support and technical "know-how". Another testimony to our uniqueness is our ability to offer Vacuum sintering of stainless steel components. This offers the highest level of corrosion resistance outside of secondary operations in the industry. If your product requires plating or coatings, we have the ability to offer that support though our vendor network as well.</p>
			<hr />
			<p><%= image_tag('/assets/sr2.jpg', alt: 'sensor rings', class: 'img-polaroid') %> <%= image_tag('/assets/sr.jpg', alt: 'sensor rings', class: 'img-polaroid') %></p>
		</div>
	</div>
</div>
