<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'products/products_sidebar' %>
		</div>
		<div class="span9">
			<h1>Sprockets and Pulleys</h1>
			<p>Many of our Variable Valve Timing (VVT) components are a combination of a sprocket with a mating VVT unit, ESC also excels in the production of various sprockets and pulleys. We can offer "in-house" induction hardening capabilities along with various material offerings. We have gained experience in many different design styles that include chain drive systems (Roller or Inverted Tooth) and belt drive systems. Our in-process quality systems designed to maintain highest levels of quality are what set us apart from the competition when making sprockets or pulleys.</p>
			<hr />
			<p><%= image_tag('/assets/sp2.jpg', alt: 'sprockets and pulleys', class: 'img-polaroid') %> <%= image_tag('/assets/sp.jpg', alt: 'sprockets and pulleys', class: 'img-polaroid') %></p>
		</div>
	</div>
</div>
