<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'products/products_sidebar' %>
		</div>
		<div class="span9">
			<h1>Valve Train Components</h1>
			<p>ESC's roots begin with the manufacturing of Valve guides and Valve seat inserts. With the assistance of Eaton Corporation, ESC has positioned itself as a major supplier of VG's &amp; VSI's to the world markets. We are focused on material development that meets the ever changing markets and engineering direction. With well over 30 material offerings, ESC has a material for your application. If we don't, we will make it. Along with our strong technological support, ESC production via multi-cavity systems makes us a cost effective VG's &amp; VSI's supplier.</p>
			<hr />
			<p><%= image_tag('/assets/vt2.jpg', alt: 'valve train components', class: 'img-polaroid') %> <%= image_tag('/assets/vt.jpg', alt: 'valve train components', class: 'img-polaroid') %></p>
		</div>
	</div>
</div>
