<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'products/products_sidebar' %>
		</div>
		<div class="span9">
			<h1>Variable Valve Timing Components</h1>
			<p>Also referred to as VCT or Cam phasing components, ESC specializes in manufacturing of highly precision components such as these. ESC uses advanced process techniques and equipment to maintain tolerances that can be considered some of the tightest in our industry. With the combination of our extensive knowledge in this field and our process expertise, we are able to offer our customers a quality product that is cost effective.</p>
			<p><%= image_tag('/assets/vvt2.jpg', class: 'img-polaroid') %> <%= image_tag('/assets/vvt.jpg', class: 'img-polaroid') %></p>
		</div>
	</div>
</div>
