<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'responsibility/responsibility_sidebar' %>
		</div>
		<div class="span9">
			<h1>Environment</h1>
			<p class="pull-right"><%= image_tag '/assets/env-steward.png', class: 'img img-border' %></p>
			<p>Engineered Sintered Components (ESC) is committed to creating a safe work environment for our employees while supporting the effort to improve our overall impact to our natural environment. As a part of Sumitomo's Corporate Social Responsibility (CSR) culture, ESC has embraced the activities that will make us a better employer and member to the business society. When it comes to the environment, we all have to do our part to make a positive impact to the environment. ESC's fundamental belief in continuous improvement does not only apply to manufacturing policies. While at ESC you will see constant activity to improve our overall utilization of utilities and lowering our landfill waste to Near Zero Emissions by aggressive recycling programs. Our efforts in Environmental Responsibility have lead us to be recognized as Environmental Stewards by the North Carolina Department of Environment and Natural Resources, which is the highest level of recognition and achievement they bestow.</p>
			<hr />
			<h2>Policy</h2>
			<p>Engineered Sintered Components (ESC) commits to demonstrate (through our actions) environmental leadership in the powdered metal industry, as well as the community of Troutman, North Carolina.  ESC pledges to protect and enhance the environment through sound management decisions.</p>
			<p>We will maintain a proactive attitude towards environmental issues involving training, education, and awareness throughout our organization so that all members are informed.</p>
			<p>We are committed to:</p>
			<ul>
				<li>Complying with all legal and regulatory legislation and other standards pertaining to ESC</li>
				<li>Incorporate pollution prevention practices through reduction of industrial waste</li>
				<li>Set and review objectives and targets to ensure continuous improvement of the EMS and our environmental performance</li>
				<li>Participate in efforts to share with suppliers, customers, and our community, appropriate information that could benefit the environment.</li>
			</ul>
			<hr />
			<h2>Goals</h2>
			<ul>
				<li>Continue reduction of industrial waste by reducing any leaks and recycling of bottles, cans, paper, and batteries</li>
				<li>Reduction of normalized electricity usage and maintain normalized natural gas usage by increasing employee awareness and labeling energy sources</li>
				<li>Reduction of VOC emissions by becoming more efficient on using oil dips and cleaners, covering dip oil tanks and solvent basins when idle, and reusing coolants and coining oils when possible</li>
			</ul>
		</div>
	</div>
</div>
