<% content_for(:page_title) do -%>
	<%= @page_title + " - Engineered Sintered Components" %>
<% end -%>
<div class="content-main">
	<div class="row">
		<div class="span3">
			<%= render 'responsibility/responsibility_sidebar' %>
		</div>
		<div class="span9">
			<h1>Safety</h1>
			<p>As far as our safety policy, ESC supports the principles set forth by the Sumitomo group:</p>
			<ol>
				<li>Realizing accident-free worksites and creating comfortable working environments</li>
				<li>Maintaining and improving Compliance</li>
				<li>Promoting employees' physical and mental healthcare</li>
			</ol>
			
			<p>As a result of striving to create the safest work environment possible with a focus on continuous improvement, ESC has been accepted by the North Carolina Department of Labor, OSHA Division as a SHARP Site.  Furthermore, OSHA has awarded ESC with two non consecutive 1 Million Man Hour Without a Lost Time Injury awards, one Two Million Man Hour Without a Lost Time Injury award, and five consecutive Gold awards for outstanding safety performance.</p>
			<p><%= image_tag '/assets/sharp.jpg', class: 'img img-polaroid' %></p>
			<p>It is clear that ESC's commitment to Safety and the Environment makes us a good partner for an individual or a business.</p>
			<hr />
			<h2>Policy</h2>
			<p>Engineered Sintered Components (ESC) is committed to the protection of its most valuable resource – its Employees. We will work as partners with our community and our employees to ensure that:</p>
			<ul>
			 	<li>We protect our employees’ health &amp; safety;</li>
				<li>We comply with applicable legal requirements and our own Occupational Health &amp; Safety Management System;</li>
				<li>We continually improve our Occupational Health &amp; Safety Management System through proactive employee involvement.</li>
			</ul>
			<p>We will encourage employees to be aware and actively care for their activities and decisions that impact health &amp; safety on the job and off the job. We will keep our operations safe and promote personal responsibility for Occupational Health and Safety.</p>
			<p><em>“Be Aware — Actively Care”</em></p>
		</div>
	</div>
</div>
