<div class="footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>About Us</h5>
				<ul>
					<li><a href="#">Company Profile</a></li>
					<li><a href="#">Mission Statement</a></li>
					<li><a href="#">Parent Profiles</a></li>
					<li><a href="#">Associations</a></li>
					<li><a href="#">Global Supply</a></li>
				</ul>
			</div>
			<div class="span3">
				<h5>Products</h5>
				<ul>
					<li><a href="#">Gerotors</a></li>
					<li><a href="#">VVT</a></li>
					<li><a href="#">VTC</a></li>
					<li><a href="#">Power Steering Components</a></li>
					<li><a href="#">Sensor Rings</a></li>
					<li><a href="#">Sprockets and Pulleys</a></li>
				</ul>
			</div>
			<div class="span3">
				<h5>Quality</h5>
				<ul>
					<li><a href="#">Certifications</a></li>
					<li><a href="#">Inspection Capabilities</a></li>
				</ul>
				<h5>Environment &amp; Safety</h5>
				<ul>
					<li><a href="#">Environmental Policy</a></li>
					<li><a href="#">Environmental Goals</a></li>
					<li><a href="#">Safety Policy</a></li>
					<li><a href="#">Safety Awards</a></li>
				</ul>
			</div>
			<div class="span3">
				<h5>Careers</h5>
				<ul>
					<li><a href="#">Careers</a></li>
				</ul>
				<h5>Contact Us</h5>
				<ul>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
