<div class="container">
	<div class="row">
		<div class="span12">
			<div class="logo-edge"></div>
			<%= link_to image_tag('/assets/logo.png', alt: 'ESC Logo', class: 'logo'), :root %>
		</div>
	</div>
</div>
