<div class="container">
	<div class="row">
		<div class="span12">
			<div class="logo-edge"></div>
			<%= link_to image_tag('/assets/logo.png', alt: 'ESC Logo', class: 'logo'), :root %>
			<div class="pull-right">
				<ul class="unstyled header-links">
					<li><%= link_to 'Sumitomo Electric Sintered Alloys', 'http://global-sei.com' %></li>
					<li> | </li>
					<li><%= link_to 'Eaton Corporation', 'http://eaton.com' %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
