<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><%= link_to 'Home', root_path %></li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="our-company" role="button" data-toggle="dropdown" data-target="#" href="<%= url_for :controller => :site, :action => :about_us %>">
						Our Company
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="our-company">
						<li><%= link_to 'About Us', :controller => :site, :action => :about_us %></li>
						<li><a href="#">Company Profile</a></li>
						<li><a href="#">Mission Statement</a></li>
						<li><a href="#">Parent Profiles</a></li>
						<li><a href="#">Associations</a></li>
						<li><a href="#">Global Supply</a></li>
					</ul>
		    </li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
						Products
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#">Gerotors</a></li>
						<li><a href="#">VVT</a></li>
						<li><a href="#">VTC</a></li>
						<li><a href="#">Power Steering Components</a></li>
						<li><a href="#">Sensor Rings</a></li>
						<li><a href="#">Sprockets and Pulleys</a></li>
					</ul>
		    </li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
						Quality
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#">Certifications</a></li>
						<li><a href="#">Inspection Capabilities</a></li>
					</ul>
		    </li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
						Environment &amp; Safety
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="#">Environmental Policy</a></li>
						<li><a href="#">Environmental Goals</a></li>
						<li><a href="#">Safety Policy</a></li>
						<li><a href="#">Safety Awards</a></li>
					</ul>
		    </li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<form class="navbar-search pull-right">
		    <input type="text" class="search-query input-medium" placeholder="Search">
	    </form>
		</div>
	</div>
</div>
